.button {
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
  border-style: none;
  &:hover {
    background-color: rgba(64, 123, 255, 0.2);
  }

  &:active {
    background-color: rgba(64, 123, 255, 0.4);
  }
}

@media screen and (min-width: 768px) {
  .button {
    max-width: 160px;
    width: 100%;
  }
}
