.section {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: calc(100vh - 65px);
    background-image: image-set(
        url(../../assets/img/mobile/SignInBG.png) 1x,
        url(../../assets/img/mobile/SignInBG@2x.png) 2x);
    
}

.block {
    width: 280px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.title {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
}



@media screen and (max-width: 767px) {

    .container {
        display: flex;
        justify-content: center;
    }

    .block {
        margin-top: 24px;
    }

    .bottle {
        width: 280px;
        height: 210px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        background-image: image-set(
            url(../../assets/img/mobile/SignInBottle.png) 1x,
            url(../../assets/img/mobile/SignInBottle@2x.png) 2x);
        margin-top: -26px;
        }
}

@media screen and (min-width: 768px) {

    .section {
        width: 100%;
        height: 100%;
        background-image: image-set(
            url(../../assets/img/tab/SignInBottle.png) 1x,
            url(../../assets/img/tab/SignInBottle@2x.png) 2x);
        margin-top: -16px;
        background-size: contain;
                        
    }

    .block {
        width: 336px;
        margin-left: 32px;
        margin-top: 9px;
        margin-right: 70px;
    }

    .bottle {
        display: none;
    }
}

@media screen and (min-width: 1440px) {

    .section {
        background-size: cover;
        background-image: image-set(
            url(../../assets/img/desc/MainPageBubbleBG.png) 1x,
            url(../../assets/img/desc/MainPageBubbleBG@2x.png) 2x);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        margin-top: 12px;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: right;
        padding-right: 216px;
    }

    .block {
        margin-top: 162px;
            margin-right: 216px;
            width: 384px;
            align-self: flex-end;
    }

        .bottle {
            width: 916px;
            height: 680px;
            display: flex;
            background-image: image-set(
                url(../../assets/img/desc/SignInBottle.png) 1x,
                url(../../assets/img/desc/SignInBottle@2x.png) 2x);
            margin-top: -550px;
            margin-left: -100px;
        }
}