.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.div {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}

.text {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

@media screen and (min-width: 768px) {
  .container {
    width: 544px;
  }

  .div {
    flex-direction: row;
    justify-content: right;
  }
  
}