body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #2f2f2f;
}

.welcomepage {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/src/assets/img/mobile/MainPageBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: bottom;
}

.components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

@media (min-resolution: 2dppx) {
  .welcomepage {
    background-image: url("/src/assets/img/mobile/MainPageBG@2x.png");
  }
}

@media (min-width: 768px) {
  .welcomepage {
    max-width: 768px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    background-image: url("/src/assets/img/tab/MainPageBG.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 100vh;
  }
  .components {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }
}

@media (min-width: 768px) and (min-resolution: 2dppx) {
  .welcomepage {
    background-image: url("/src/assets/img/tab/MainPageBG@2x.png");
  }
}

@media (min-width: 1440px) {
  .components {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 81px;
  }
  .welcomepage {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("/src/assets/img/desc/Main-Page-desc@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 100vh;
    align-items: center;
  }
}

@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .welcomepage {
    background-image: url("/src/assets/img/desc/Main-Page-desc@2x.png");
  }
}
